<%- include('partials/header') %>

<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
        >
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
  
        <!-- lOGO TEXT HERE -->
        <a href="/" class="navbar-brand">Know Ur Bed <i class="fa fa-bed"></i></a>
      </div>
  
      <!-- MENU LINKS -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="smoothScroll">Home</a></li>
          <li>
            <a href="/" class="smoothScroll">Logout</a>
          </li>
          <li><a href="#team" class="smoothScroll">Live Updates</a></li>
          <li><a href="#feedback" class="smoothScroll">Get Help</a></li>
        </ul>
      </div>
    </div>
  </section>

<section class="feed">
  <h1><center>Feedback <img class="feed-img" src="/images/review.png"></center></h1>
  <div class="stars">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
  </div>
</section>

<section class="comment">
  
  <div class="container pb-cmnt-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-info">
                <div class="card-block">
                    <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                    <form class="form-inline">
                        <p>Share your views</p>
                        <button class="btn btn-primary float-xs-right" type="button">Share</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="contact">
  <p>Helpline no</p>
</section>

  <%- include('partials/footer') %>  